body
{
    background-color: #000;
    display: flex;
    justify-content: center;
}

.isotipo
{
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.circle
{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

.circle span 
{
    width: 120px;
    height: 10px;
    background-color: #000;
    position: absolute;
    /* transition: all 0.4s; */
}

/*cuarto peldaño*/
.circle span:nth-child(2)
{
    width: 88px;
    height: 19px;
    top: 263px;
    left: 150px;
    rotate: 140deg;
    background-color: #fb9300;
}

.circle:hover span:nth-child(2)
{
    transition: all 2s;
    transform: rotate(25deg);
    rotate: 180deg;
    transform: translate(-67px, 30px);
}





/*segundo peldaño*/
.circle span:nth-child(3)
{
    width: 80px;
    height: 19px;
    top: 275px;
    left: 160px;
    background-color: #fb9300;
}

.circle:hover span:nth-child(3)
{
    transition: all 1s;
    transform: rotate(25deg);
    rotate: 180deg;
    transform: translate(40px, 95px);
}





/*tercer peldaño*/
.circle span:nth-child(4)
{
    width: 80px;
    height: 19px;
    top: 263px;
    left: 200px;
    rotate: 65deg;
    background-color: #fb9300;
}

.circle:hover span:nth-child(4)
{
    transition: all 1s;
    transform: rotate(25deg);
    rotate: 180deg;
    transform: translate(100px, 30px);
}




/*primer peldaño*/
.circle span:nth-child(5)
{
    width: 80px;
    height: 18px;
    top: 290px;
    left: 140px;
    background-color: #fb9300;
}


.circle:hover span:nth-child(5)
{
    transition: all 2s;
    transform: rotate(25deg);
    rotate: 180deg;
    transform: translate(0px, 170px);
}




/*largo diagonal n°4*/
.circle span:nth-child(6)
{
    width: 250px;
    height: 18px;
    top: 190px;
    left: 159px;
    rotate: 71deg;
    background-color: #fb9300;
}   




/*largo diagonal n°3*/
.circle span:nth-child(7)
{
    width: 250px;
    height: 18px;
    top: 290px;
    rotate: 3deg;
    background-color: #fb9300;
}

.circle:hover span:nth-child(7)
{
    rotate: 70deg;
    transform: translate(-95px, -40px);
    transition: all 1s;
}




/*largo diagonal n°2*/
.circle span:nth-child(8)
{
    width: 250px;
    height: 18px;
    rotate: 199deg;
    top: 270px;
    background-color: #fb9300;
}

.circle:hover span:nth-child(8)
{
    rotate: -72deg;
    transform: translate(70px, -25px);
    transition: all 1s;
}



/*horizontal de arriba*/
.circle span:nth-child(9)
{
    width: 172px;
    height: 18px;
    top: 70px;
    left: 120px;
    background-color: #fb9300;
}

/*largo diagonal n°1*/
.circle span:nth-child(10)
{
    width: 250px;
    height: 18px;
    top: 190px;
    background-color: #fb9300;
    left: -10px;
    rotate: 109deg;
}

/*cono derecha*/
.circle span:nth-child(11)
{
    width: 20px;
    height: 20px;
    background-color: #fb9300;
    top: 78px;
    left: 250px;
    rotate: 45deg;
}

.circle span:nth-child(12)
{
    width: 20px;
    height: 20px;
    background-color: #fb9300;
    top: 75px;
    left: 132px;
    rotate: 45deg;
}



.circle span:nth-child(13)
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 88px;
    left: 120px;
}

.circle span:nth-child(14)
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 88px;
    left: 260.5px;
}







.circle::before
{
  content: "";
  position: absolute;
  inset: -15px;
  border: 6px solid #131313; 
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%; 
  z-index: -1px;
  animation: spin 3s linear infinite;
}


@keyframes spin 
{
  to{transform: rotate(360deg);}
}

@media (max-width: 430px) 
{
    .circle {
      width: 200px;
      height: 200px;
    }

/*cuarto peldaño*/
.circle span:nth-child(2)
{
    width: 44px;
    height: 9.5px;
    top: 131.5px;
    left: 75px;
    rotate: 140deg;
}

.circle:hover span:nth-child(2)
{
    transition: all 2s;
    transform: rotate(25deg);
    rotate: 180deg;
    transform: translate(-33.5px, 15px);
}





/*segundo peldaño*/
.circle span:nth-child(3)
{
    width: 40px;
    height: 9.5px;
    top: 137.5px;
    left: 80px;
}

.circle:hover span:nth-child(3)
{
    transition: all 1s;
    transform: rotate(25deg);
    rotate: 180deg;
    transform: translate(20px, 47.5px);
}





/*tercer peldaño*/
.circle span:nth-child(4)
{
    width: 40px;
    height: 9.5px;
    top: 131.5px;
    left: 100px;
    rotate: 32.5deg;
}

.circle:hover span:nth-child(4)
{
    transition: all 1s;
    transform: rotate(25deg);
    rotate: 180deg;
    transform: translate(50px, 15px);
}




/*primer peldaño*/
.circle span:nth-child(5)
{
    width: 40px;
    height: 9px;
    top: 145px;
    left: 70px;
}


.circle:hover span:nth-child(5)
{
    transition: all 2s;
    transform: rotate(25deg);
    rotate: 180deg;
    transform: translate(0px, 85px);
}

/*largo diagonal n°4*/
.circle span:nth-child(6)
{
    width: 125px;
    height: 9px;
    top: 95px;
    left: 79.5px;
}


/*largo diagonal n°3*/
.circle span:nth-child(7)
{
    width: 125px;
    height: 9px;
    top: 145px;
}

.circle:hover span:nth-child(7)
{
    rotate: 70deg;
    transform: translate(-50px, -20px);
    transition: all 1s;
}


/*largo diagonal n°2*/
.circle span:nth-child(8)
{
    width: 125px;
    height: 9px;
    top: 135px;
}

.circle:hover span:nth-child(8)
{
    rotate: -72deg;
    transform: translate(40px, -15px);
    transition: all 1s;
}


/*horizontal de arriba*/
.circle span:nth-child(9)
{
    width: 86px;
    height: 9px;
    top: 35px;
    left: 60px;
}

/*largo diagonal n°1*/
.circle span:nth-child(10)
{
    width: 125px;
    height: 9px;
    top: 95px;
    left: -5px;
}

/*cono derecha*/
.circle span:nth-child(11)
{
    width: 10px;
    height: 10px;
    top: 39px;
    left: 125px;
}

.circle span:nth-child(12)
{
    width: 10px;
    height: 10px;
    top: 37.5px;
    left: 66px;
}

.circle span:nth-child(13)
{
    width: 10px;
    height: 10px;
    top: 44px;
    left: 60px;
}

.circle span:nth-child(14)
{
    width: 10px;
    height: 10px;
    top: 44px;
    left: 130.25px;
}
}
